*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 70%;
    height: 1200px;
    margin: 0 auto;
    background-color: linen;
}
#phan-dau{
    text-align: center;
    margin-bottom: 17px;
    padding: 20px;
}
#content h2{
    margin-left: 10px;
    padding-bottom: 7px ;
    border-bottom: 2px solid pink;
}
#content p{
    padding-top: 5px;
}
table{
    width: 50%;
    margin-left: 12px;
}
